{
  "extends": [
    "@darekkay/eslint-config/base",
    "@darekkay/eslint-config/plugins/unicorn",
    "@darekkay/eslint-config/plugins/prettier"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "root": true
}
